***This notebook is mainly written by Veronica, and the idea was developed by Veronica, Yuan and Yoyo collaborately for the end-of-semester project of Machine Learning, Fall 2020***
# This notebook will cover:
- Sources, description and structure of the datasets we used
- The way we analyze, preprocess, clean and merge the datasets, and the rationale behind that

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Dataset 1. Covid Tracking Project Dataset
- this dataset is downloaded from [CovidTrackingProject](https://covidtracking.com)
- we have uploaded this dataset to GitHub as part of the codes

### 1.1 Dataset Structure

In [4]:
df = pd.read_csv('all-states-history.csv')
print(df.shape)
df.head()

(15633, 42)

,date,state,dataQualityGrade,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
0,2020-12-06,AK,A,143.0,143.0,0,NaN,799.0,799.0,164.0,...,1077776.0,10545,NaN,NaN,NaN,NaN,NaN,0,1077776.0,10545
1,2020-12-06,AL,A,3889.0,3462.0,12,427.0,26331.0,26331.0,1927.0,...,1645041.0,7880,NaN,NaN,74784.0,NaN,1645041.0,7880,NaN,0
2,2020-12-06,AR,A+,2660.0,2437.0,40,223.0,9401.0,9401.0,1076.0,...,1763150.0,14704,NaN,21856.0,NaN,155934.0,NaN,0,1763150.0,14704
3,2020-12-06,AS,D,0.0,NaN,0,NaN,NaN,NaN,NaN,...,2140.0,0,NaN,NaN,NaN,NaN,NaN,0,2140.0,0
4,2020-12-06,AZ,A+,6950.0,6431.0,25,519.0,28248.0,28248.0,2977.0,...,2370499.0,20586,370928.0,NaN,NaN,NaN,2370499.0,20586,NaN,0

In [5]:
df.drop('dataQualityGrade', axis=1, inplace=True)  ## irrelevant column

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15633 entries, 0 to 15632
Data columns (total 41 columns):
date                                15633 non-null object
state                               15633 non-null object
death                               14807 non-null float64
deathConfirmed                      6850 non-null float64
deathIncrease                       15633 non-null int64
deathProbable                       5104 non-null float64
hospitalized                        9434 non-null float64
hospitalizedCumulative              9434 non-null float64
hospitalizedCurrently               12516 non-null float64
hospitalizedIncrease                15633 non-null int64
inIcuCumulative                     2700 non-null float64
inIcuCurrently                      7713 non-null float64
negative                            15323 non-null float64
negativeIncrease                    15633 non-null int64
negativeTestsAntibody               995 non-null float64
negativeTestsPeopleAntibody         768 non-null float64
negativeTestsViral                  3315 non-null float64
onVentilatorCumulative              929 non-null float64
onVentilatorCurrently               6211 non-null float64
positive                            15481 non-null float64
positiveCasesViral                  12117 non-null float64
positiveIncrease                    15633 non-null int64
positiveScore                       15633 non-null int64
positiveTestsAntibody               2218 non-null float64
positiveTestsAntigen                731 non-null float64
positiveTestsPeopleAntibody         799 non-null float64
positiveTestsPeopleAntigen          411 non-null float64
positiveTestsViral                  5012 non-null float64
recovered                           11111 non-null float64
totalTestEncountersViral            3678 non-null float64
totalTestEncountersViralIncrease    15633 non-null int64
totalTestResults                    15598 non-null float64
totalTestResultsIncrease            15633 non-null int64
totalTestsAntibody                  3017 non-null float64
totalTestsAntigen                   1177 non-null float64
totalTestsPeopleAntibody            1258 non-null float64
totalTestsPeopleAntigen             544 non-null float64
totalTestsPeopleViral               6628 non-null float64
totalTestsPeopleViralIncrease       15633 non-null int64
totalTestsViral                     9821 non-null float64
totalTestsViralIncrease             15633 non-null int64
dtypes: float64(30), int64(9), object(2)
memory usage: 4.9+ MB

In [5]:
# calculate the number of null values of each column annd sort them in order
isnull_sum = df.isnull().sum()
isnull_sum.sort_values()

date                                    0
totalTestsPeopleViralIncrease           0
totalTestResultsIncrease                0
totalTestEncountersViralIncrease        0
positiveScore                           0
positiveIncrease                        0
negativeIncrease                        0
hospitalizedIncrease                    0
totalTestsViralIncrease                 0
state                                   0
deathIncrease                           0
totalTestResults                       35
positive                              152
negative                              310
death                                 826
hospitalizedCurrently                3117
positiveCasesViral                   3516
recovered                            4522
totalTestsViral                      5812
hospitalizedCumulative               6199
hospitalized                         6199
inIcuCurrently                       7920
deathConfirmed                       8783
totalTestsPeopleViral                9005
onVentilatorCurrently                9422
deathProbable                       10529
positiveTestsViral                  10621
totalTestEncountersViral            11955
negativeTestsViral                  12318
totalTestsAntibody                  12616
inIcuCumulative                     12933
positiveTestsAntibody               13415
totalTestsPeopleAntibody            14375
totalTestsAntigen                   14456
negativeTestsAntibody               14638
onVentilatorCumulative              14704
positiveTestsPeopleAntibody         14834
negativeTestsPeopleAntibody         14865
positiveTestsAntigen                14902
totalTestsPeopleAntigen             15089
positiveTestsPeopleAntigen          15222
dtype: int64

#### Conclusion:
- coulmns named **XXXIncrease** should be dropped (although no empty entries in these columns, they contain a lot of zero values) 
- **totalestResults, positive, negative, hospitalizedCurrently, positiveCasesViral, recovered** are acceptable to use
- For features representing the hospital capacity, such as ICU bed usage and ventilator usage, we need to find other datasets with fewer nulls

In [7]:
## calculate the number of null values on each date
null_by_date = df.groupby('date').apply(lambda x: x.isnull().sum())
print(null_by_date['death'].shape)  ## Since our y-variable is death, we should first make sure this column doesn't contain any null
print(null_by_date['death'][:1], null_by_date['death'][-1:])

(320,)
date
2020-01-22    2
Name: death, dtype: int64 date
2020-12-06    0
Name: death, dtype: int64

#### Conclusion:
- this dataset covers data from 2020-01-22 to 2020-11-02 for every state in U.S

### 1.2 Preprocessing specific columns

In [12]:
## transform to 'datetime' format data
datetime = pd.to_datetime(df.iloc[:, 0], format='%Y-%m-%d')
df.insert(0, 'datetime', datetime)
df.drop(['date'], axis=1, inplace=True)

In [13]:
print(df.shape)
df.head()

(15633, 41)

,datetime,state,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,hospitalizedIncrease,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
0,2020-12-06,AK,143.0,143.0,0,NaN,799.0,799.0,164.0,0,...,1077776.0,10545,NaN,NaN,NaN,NaN,NaN,0,1077776.0,10545
1,2020-12-06,AL,3889.0,3462.0,12,427.0,26331.0,26331.0,1927.0,0,...,1645041.0,7880,NaN,NaN,74784.0,NaN,1645041.0,7880,NaN,0
2,2020-12-06,AR,2660.0,2437.0,40,223.0,9401.0,9401.0,1076.0,21,...,1763150.0,14704,NaN,21856.0,NaN,155934.0,NaN,0,1763150.0,14704
3,2020-12-06,AS,0.0,NaN,0,NaN,NaN,NaN,NaN,0,...,2140.0,0,NaN,NaN,NaN,NaN,NaN,0,2140.0,0
4,2020-12-06,AZ,6950.0,6431.0,25,519.0,28248.0,28248.0,2977.0,242,...,2370499.0,20586,370928.0,NaN,NaN,NaN,2370499.0,20586,NaN,0

In [14]:
us_state_abbrev = {
        'AK': 'Alaska',
        'AL': 'Alabama',
        'AR': 'Arkansas',
        'AS': 'American Samoa',  ##
        'AZ': 'Arizona',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DC': 'District of Columbia',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'GU': 'Guam',  ##
        'HI': 'Hawaii',
        'IA': 'Iowa',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'MA': 'Massachusetts',
        'MD': 'Maryland',
        'ME': 'Maine',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MO': 'Missouri',
        'MP': 'Northern Mariana Islands',  ##
        'MS': 'Mississippi',
        'MT': 'Montana',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'NE': 'Nebraska',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NV': 'Nevada',
        'NY': 'New York',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'PR': 'Puerto Rico',  ##
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VA': 'Virginia',
        'VI': 'Virgin Islands',  ##
        'VT': 'Vermont',
        'WA': 'Washington',
        'WI': 'Wisconsin',
        'WV': 'West Virginia',
        'WY': 'Wyoming'
}

In [15]:
## transform state name abbreviation to full name
location_name = []
for i in df.loc[:, 'state']:
    location_name.append(us_state_abbrev[i])
df.insert(1, 'location_name', location_name)
df.drop(['state'], axis=1, inplace=True)
print(df.shape)
df.head()

(15633, 41)

,datetime,location_name,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,hospitalizedIncrease,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
0,2020-12-06,Alaska,143.0,143.0,0,NaN,799.0,799.0,164.0,0,...,1077776.0,10545,NaN,NaN,NaN,NaN,NaN,0,1077776.0,10545
1,2020-12-06,Alabama,3889.0,3462.0,12,427.0,26331.0,26331.0,1927.0,0,...,1645041.0,7880,NaN,NaN,74784.0,NaN,1645041.0,7880,NaN,0
2,2020-12-06,Arkansas,2660.0,2437.0,40,223.0,9401.0,9401.0,1076.0,21,...,1763150.0,14704,NaN,21856.0,NaN,155934.0,NaN,0,1763150.0,14704
3,2020-12-06,American Samoa,0.0,NaN,0,NaN,NaN,NaN,NaN,0,...,2140.0,0,NaN,NaN,NaN,NaN,NaN,0,2140.0,0
4,2020-12-06,Arizona,6950.0,6431.0,25,519.0,28248.0,28248.0,2977.0,242,...,2370499.0,20586,370928.0,NaN,NaN,NaN,2370499.0,20586,NaN,0

In [16]:
## select columns with the fewest number of null values
## !: inIcuCurrently and onVetilatorCurrently still have a lot of nulls, but we keep them here first in case we may find other datasets that can complement for the empty entries
features = ['datetime',
 'location_name',
 'death',
 'hospitalizedCurrently',
 'inIcuCurrently',
 'negative',
 'onVentilatorCurrently',
 'positive',
 'recovered',
 'totalTestResults']
df_clean = df.loc[:, features]
print(df_clean.shape)
df_clean.head()

(15633, 10)

,datetime,location_name,death,hospitalizedCurrently,inIcuCurrently,negative,onVentilatorCurrently,positive,recovered,totalTestResults
0,2020-12-06,Alaska,143.0,164.0,NaN,1042056.0,21.0,35720.0,7165.0,1077776.0
1,2020-12-06,Alabama,3889.0,1927.0,NaN,1421126.0,NaN,269877.0,168387.0,1645041.0
2,2020-12-06,Arkansas,2660.0,1076.0,374.0,1614979.0,179.0,170924.0,149490.0,1763150.0
3,2020-12-06,American Samoa,0.0,NaN,NaN,2140.0,NaN,0.0,NaN,2140.0
4,2020-12-06,Arizona,6950.0,2977.0,714.0,2018813.0,462.0,364276.0,56382.0,2370499.0

# Dataset 2. Hospitalization data
- this dataset is downloaded from [HealthData](https://covid19.healthdata.org/united-states-of-america?view=total-deaths&tab=trend)
- we cannot upload this dataset to GitHub due to limited capacity of files allowed on GitHub. You may download the dataset through this [Google link](https://drive.google.com/file/d/1CV4TTALHU3EUFfyGHosF6_L6Cbv4hFjy/view?usp=sharing)

### 2.1 Dataset structure

In [17]:
df_hospital = pd.read_csv('hospitalization_all_locs.csv')
print(df_hospital.shape)
df_hospital.head()

(152488, 73)

,location_id,date,V1,location_name,allbed_mean,allbed_lower,allbed_upper,ICUbed_mean,ICUbed_lower,ICUbed_upper,...,est_infections_mean_p100k_rate,est_infections_lower_p100k_rate,est_infections_upper_p100k_rate,inf_cuml_mean,inf_cuml_upper,inf_cuml_lower,seroprev_mean,seroprev_upper,seroprev_lower,seroprev_data_type
0,1,2020/2/4,48609,Global,14282.96574,14282.96574,14282.96574,5827.528414,5827.528414,5827.528414,...,0.257229,0.216345,0.307828,19902.99479,23818.10353,16739.59124,0.000033,0.000044,0.000024,projected
1,1,2020/2/5,48610,Global,15571.17255,15571.17255,15571.17255,6217.948134,6217.948134,6217.948134,...,0.248723,0.209659,0.296248,39147.82713,46740.16291,32961.88382,0.000037,0.000047,0.000028,projected
2,1,2020/2/6,48611,Global,16762.15309,16762.15309,16762.15309,6559.103608,6559.103608,6559.103608,...,0.240485,0.203118,0.284973,57755.26436,68789.85954,48678.06379,0.000040,0.000051,0.000031,projected
3,1,2020/2/7,48612,Global,17837.85508,17837.85508,17837.85508,6845.497859,6845.497859,6845.497859,...,0.232862,0.196742,0.274455,75772.87967,90025.71510,63900.89907,0.000043,0.000054,0.000034,projected
4,1,2020/2/8,48613,Global,18776.75540,18776.75540,18776.75540,7071.639802,7071.639802,7071.639802,...,0.225968,0.192549,0.266491,93257.07859,110645.38530,78799.28392,0.000046,0.000057,0.000037,projected

In [18]:
df_hospital.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152488 entries, 0 to 152487
Data columns (total 73 columns):
location_id                         152488 non-null int64
date                                152488 non-null object
V1                                  152488 non-null int64
location_name                       152488 non-null object
allbed_mean                         152488 non-null float64
allbed_lower                        152488 non-null float64
allbed_upper                        152488 non-null float64
ICUbed_mean                         152488 non-null float64
ICUbed_lower                        152488 non-null float64
ICUbed_upper                        152488 non-null float64
InvVen_mean                         152488 non-null float64
InvVen_lower                        152488 non-null float64
InvVen_upper                        152488 non-null float64
admis_mean                          152488 non-null float64
admis_lower                         152488 non-null float64
admis_upper                         152488 non-null float64
newICU_mean                         152488 non-null float64
newICU_lower                        152488 non-null float64
newICU_upper                        152488 non-null float64
bedover_mean                        152488 non-null float64
bedover_lower                       152488 non-null float64
bedover_upper                       152488 non-null float64
icuover_mean                        152488 non-null float64
icuover_lower                       152488 non-null float64
icuover_upper                       152488 non-null float64
hosp_data_type                      152488 non-null object
deaths_data_type                    152488 non-null object
deaths_mean                         148165 non-null float64
deaths_lower                        148165 non-null float64
deaths_upper                        148165 non-null float64
totdea_mean                         148165 non-null float64
totdea_lower                        148165 non-null float64
totdea_upper                        148165 non-null float64
deaths_mean_smoothed                152488 non-null float64
deaths_lower_smoothed               152488 non-null float64
deaths_upper_smoothed               152488 non-null float64
totdea_mean_smoothed                152488 non-null float64
totdea_lower_smoothed               152488 non-null float64
totdea_upper_smoothed               152488 non-null float64
mobility_data_type                  150841 non-null object
mobility_composite                  150841 non-null float64
total_tests_data_type               142021 non-null object
total_tests                         142021 non-null float64
confirmed_infections_data_type      96943 non-null object
confirmed_infections                96048 non-null float64
est_infections_data_type            152488 non-null object
est_infections_mean                 152488 non-null float64
est_infections_lower                152488 non-null float64
est_infections_upper                152488 non-null float64
total_pop                           151312 non-null float64
deaths_mean_p100k_rate              146989 non-null float64
deaths_lower_p100k_rate             146989 non-null float64
deaths_upper_p100k_rate             146989 non-null float64
totdea_mean_p100k_rate              146989 non-null float64
totdea_lower_p100k_rate             146989 non-null float64
totdea_upper_p100k_rate             146989 non-null float64
deaths_mean_smoothed_p100k_rate     151312 non-null float64
deaths_lower_smoothed_p100k_rate    151312 non-null float64
deaths_upper_smoothed_p100k_rate    151312 non-null float64
totdea_mean_smoothed_p100k_rate     151312 non-null float64
totdea_lower_smoothed_p100k_rate    151312 non-null float64
totdea_upper_smoothed_p100k_rate    151312 non-null float64
confirmed_infections_p100k_rate     95488 non-null float64
est_infections_mean_p100k_rate      151312 non-null float64
est_infections_lower_p100k_rate     151312 non-null float64
est_infections_upper_p100k_rate     151312 non-null float64
inf_cuml_mean                       152488 non-null float64
inf_cuml_upper                      152488 non-null float64
inf_cuml_lower                      152488 non-null float64
seroprev_mean                       149744 non-null float64
seroprev_upper                      149744 non-null float64
seroprev_lower                      149744 non-null float64
seroprev_data_type                  149744 non-null object
dtypes: float64(62), int64(2), object(9)
memory usage: 84.9+ MB

In [19]:
### Since the dataset includes all regions worldwide, we need to select U.S. states only at first
us_states = list(us_state_abbrev.values())
df_us_hospital = df_hospital[df_hospital['location_name'] == us_states[0]]
for i in range(1, len(us_states)):
    name = us_states[i]
    data = df_hospital[df_hospital['location_name'] == name]
    print(name, data.shape[0])
    df_us_hospital = df_us_hospital.append(data)
print(df_us_hospital.shape) ## print out the number of data (rows) for each state to make sure they all start and end at the same days

Alabama 392
Arkansas 392
American Samoa 0
Arizona 392
California 392
Colorado 392
Connecticut 392
District of Columbia 392
Delaware 392
Florida 392
Georgia 392
Guam 392
Hawaii 392
Iowa 392
Idaho 392
Illinois 392
Indiana 392
Kansas 392
Kentucky 392
Louisiana 392
Massachusetts 392
Maryland 392
Maine 392
Michigan 392
Minnesota 392
Missouri 392
Northern Mariana Islands 0
Mississippi 392
Montana 392
North Carolina 392
North Dakota 392
Nebraska 392
New Hampshire 392
New Jersey 392
New Mexico 392
Nevada 392
New York 392
Ohio 392
Oklahoma 392
Oregon 392
Pennsylvania 392
Puerto Rico 392
Rhode Island 392
South Carolina 392
South Dakota 392
Tennessee 392
Texas 392
Utah 392
Virginia 392
Virgin Islands 0
Vermont 392
Washington 392
Wisconsin 392
West Virginia 392
Wyoming 392
(20776, 73)

#### Conclusion:
- this dataset doesn't have information for **American Samoa, Northern Mariana Islands, and Virgin Islands** which are oversee territories of U.S. not belonging to the 50 states
- each state covers 392 days

### 2.2 Preprocess certain columns

In [20]:
datetime = pd.to_datetime(df_us_hospital.iloc[:, 1], format='%Y-%m-%d')
df_us_hospital.insert(2, 'datetime', datetime)
df_us_hospital.drop(['date'], axis=1, inplace=True)
df_us_hospital.head()

,location_id,datetime,V1,location_name,allbed_mean,allbed_lower,allbed_upper,ICUbed_mean,ICUbed_lower,ICUbed_upper,...,est_infections_mean_p100k_rate,est_infections_lower_p100k_rate,est_infections_upper_p100k_rate,inf_cuml_mean,inf_cuml_upper,inf_cuml_lower,seroprev_mean,seroprev_upper,seroprev_lower,seroprev_data_type
70168,524,2020-02-04,2353,Alaska,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,projected
70169,524,2020-02-05,2354,Alaska,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,projected
70170,524,2020-02-06,2355,Alaska,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,projected
70171,524,2020-02-07,2356,Alaska,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,projected
70172,524,2020-02-08,2357,Alaska,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,projected

In [21]:
groups = df_us_hospital.groupby('datetime')
dates = []
for name, group in groups:
    dates.append(name)
dates.sort()
print(dates[:1], dates[-1:])

[Timestamp('2020-02-04 00:00:00')] [Timestamp('2021-03-01 00:00:00')]

- this dataset covers data from 2020-02-04 to 2021-03-01 for every state in U.S. **(but data starting from the access date are projected, not observed)**

In [22]:
## This dataset was downloaded at 11/10, which means observed data ends at 11/10
df_hospital_clean = df_us_hospital[df_us_hospital['datetime']<'2020-11-10']
df_hospital_clean.shape

(14840, 73)

In [25]:
null_by_state_hospital = df_hospital_clean.groupby('location_name').apply(lambda x: x.isnull().sum())
null_by_state_hospital

,location_id,datetime,V1,location_name,allbed_mean,allbed_lower,allbed_upper,ICUbed_mean,ICUbed_lower,ICUbed_upper,...,est_infections_mean_p100k_rate,est_infections_lower_p100k_rate,est_infections_upper_p100k_rate,inf_cuml_mean,inf_cuml_upper,inf_cuml_lower,seroprev_mean,seroprev_upper,seroprev_lower,seroprev_data_type
location_name,,,,,,,,,,,,,,,,,,,,,
Alabama,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Alaska,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Arizona,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Arkansas,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
California,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Colorado,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Connecticut,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Delaware,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
District of Columbia,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Florida,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Georgia,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Guam,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Hawaii,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Idaho,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Illinois,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Indiana,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Iowa,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Kansas,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Kentucky,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Louisiana,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Maine,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Maryland,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Massachusetts,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Michigan,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Minnesota,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Mississippi,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Missouri,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Montana,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Nebraska,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Nevada,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
New Hampshire,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
New Jersey,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
New Mexico,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
New York,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
North Carolina,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
North Dakota,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Ohio,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Oklahoma,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Oregon,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Pennsylvania,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Puerto Rico,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Rhode Island,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
South Carolina,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
South Dakota,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Tennessee,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Texas,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Utah,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Vermont,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Virginia,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Washington,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
West Virginia,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Wisconsin,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Wyoming,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [23]:
##  because this dataset replaces  most null values by zeros, calculate the number of zero values of each feature for each state
zero_by_state_hospital = df_hospital_clean.groupby('location_name').apply(lambda x: (x==0).sum())
zero_by_state_hospital

,location_id,datetime,V1,location_name,allbed_mean,allbed_lower,allbed_upper,ICUbed_mean,ICUbed_lower,ICUbed_upper,...,est_infections_mean_p100k_rate,est_infections_lower_p100k_rate,est_infections_upper_p100k_rate,inf_cuml_mean,inf_cuml_upper,inf_cuml_lower,seroprev_mean,seroprev_upper,seroprev_lower,seroprev_data_type
location_name,,,,,,,,,,,,,,,,,,,,,
Alabama,0,0,0,0,33,33,33,33,33,33,...,18,22,18,18,18,22,30,30,34,0
Alaska,0,0,0,0,26,26,26,26,26,26,...,11,15,11,11,11,15,23,23,27,0
Arizona,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Arkansas,0,0,0,0,30,30,30,30,30,30,...,15,19,15,15,15,19,27,27,31,0
California,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Colorado,0,0,0,0,26,26,26,26,26,26,...,11,15,11,11,11,15,23,23,27,0
Connecticut,0,0,0,0,27,27,27,27,27,27,...,12,16,12,12,12,16,24,24,28,0
Delaware,0,0,0,0,52,52,52,52,52,52,...,37,41,37,37,37,41,49,49,53,0
District of Columbia,0,0,0,0,28,28,28,28,28,28,...,13,17,13,13,13,17,25,25,29,0
Florida,0,0,0,0,22,22,22,22,22,22,...,7,11,7,7,7,11,19,19,23,0
Georgia,0,0,0,0,23,23,23,23,23,23,...,8,12,8,8,8,12,20,20,24,0
Guam,0,0,0,0,35,35,35,35,35,35,...,20,24,20,20,20,24,32,32,36,0
Hawaii,0,0,0,0,26,26,26,26,26,26,...,11,15,11,11,11,15,23,23,27,0
Idaho,0,0,0,0,30,30,30,30,30,30,...,15,19,15,15,15,19,27,27,31,0
Illinois,0,0,0,0,30,30,30,30,30,30,...,15,19,15,15,15,19,27,27,31,0
Indiana,0,0,0,0,26,26,26,26,26,26,...,11,15,11,11,11,15,23,23,27,0
Iowa,0,0,0,0,29,29,29,29,29,29,...,14,18,14,14,14,18,26,26,30,0
Kansas,0,0,0,0,28,28,28,28,28,28,...,13,17,13,13,13,17,25,25,29,0
Kentucky,0,0,0,0,36,36,36,36,36,36,...,21,25,21,21,21,25,33,33,37,0
Louisiana,0,0,0,0,29,29,29,29,29,29,...,14,18,14,14,14,18,26,26,30,0
Maine,0,0,0,0,28,28,28,28,28,28,...,13,17,13,13,13,17,25,25,29,0
Maryland,0,0,0,0,39,39,39,39,39,39,...,24,28,24,24,24,28,36,36,40,0
Massachusetts,0,0,0,0,38,38,38,38,38,38,...,23,27,23,23,23,27,35,35,39,0
Michigan,0,0,0,0,30,30,30,30,30,30,...,15,19,15,15,15,19,27,27,31,0
Minnesota,0,0,0,0,26,26,26,26,26,26,...,11,15,11,11,11,15,23,23,27,0
Mississippi,0,0,0,0,30,30,30,30,30,30,...,15,19,15,15,15,19,27,27,31,0
Missouri,0,0,0,0,34,34,34,34,34,34,...,19,23,19,19,19,23,31,31,35,0
Montana,0,0,0,0,30,30,30,30,30,30,...,15,19,15,15,15,19,27,27,31,0
Nebraska,0,0,0,0,39,39,39,39,39,39,...,24,28,24,24,24,28,36,36,40,0
Nevada,0,0,0,0,25,25,25,25,25,25,...,10,14,10,10,10,14,22,22,26,0
New Hampshire,0,0,0,0,22,22,22,22,22,22,...,7,11,7,7,7,11,19,19,23,0
New Jersey,0,0,0,0,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,2,0
New Mexico,0,0,0,0,30,30,30,30,30,30,...,15,19,15,15,15,19,27,27,31,0
New York,0,0,0,0,21,21,21,21,21,21,...,6,10,6,6,6,10,18,18,22,0
North Carolina,0,0,0,0,24,24,24,24,24,24,...,9,13,9,9,9,13,21,21,25,0
North Dakota,0,0,0,0,30,30,30,30,30,30,...,15,19,15,15,15,19,27,27,31,0
Ohio,0,0,0,0,30,30,30,30,30,30,...,15,19,15,15,15,19,27,27,31,0
Oklahoma,0,0,0,0,27,27,27,27,27,27,...,12,16,12,12,12,16,24,24,28,0
Oregon,0,0,0,0,20,20,20,20,20,20,...,5,9,5,5,5,9,17,17,21,0
Pennsylvania,0,0,0,0,26,26,26,26,26,26,...,11,15,11,11,11,15,23,23,27,0
Puerto Rico,0,0,0,0,34,34,34,34,34,34,...,19,23,19,19,19,23,31,31,35,0
Rhode Island,0,0,0,0,21,21,21,21,21,21,...,6,10,6,6,6,10,18,18,22,0
South Carolina,0,0,0,0,27,27,27,27,27,27,...,12,16,12,12,12,16,24,24,28,0
South Dakota,0,0,0,0,30,30,30,30,30,30,...,15,19,15,15,15,19,27,27,31,0
Tennessee,0,0,0,0,25,25,25,25,25,25,...,10,14,10,10,10,14,22,22,26,0
Texas,0,0,0,0,37,37,37,37,37,37,...,22,26,22,22,22,26,34,34,38,0
Utah,0,0,0,0,27,27,27,27,27,27,...,12,16,12,12,12,16,24,24,28,0
Vermont,0,0,0,0,28,28,28,28,28,28,...,13,17,13,13,13,17,25,25,29,0
Virginia,0,0,0,0,28,28,28,28,28,28,...,13,17,13,13,13,17,25,25,29,0
Washington,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
West Virginia,0,0,0,0,30,30,30,30,30,30,...,15,19,15,15,15,19,27,27,31,0
Wisconsin,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Wyoming,0,0,0,0,30,30,30,30,30,30,...,15,19,15,15,15,19,27,27,31,0

#### Conclusion: we want to select useful columns based on the following criteria:
- The column should contain relatively small number of zeros
- The column should be interpretable. Columns such as **inf_cuml** are not explained clearly on the source website of this dataset, hence we need to dope ambiguous columns that may lack reliability or relevance
- Some columns represent the data of a same feature, e.g. ICU_bed, inVentilator and etc have mean, lower bound and upper bound as 3 separate columns. We will choose **mean** for such columns only.
- We dope columnns that have been included in the first dataset, e.g. death, total test numbers, etc.

In [53]:
features = ['datetime', 'location_name', 'allbed_mean', 'ICUbed_mean', 'InvVen_mean', 'admis_mean', 'newICU_mean', 'mobility_composite', 
            'confirmed_infections', 'total_pop']
df_hospital_clean = df_hospital_clean.loc[:, features]
print(df_hospital_clean.shape)
df_hospital_clean.head()

(11872, 10)

,datetime,location_name,allbed_mean,ICUbed_mean,InvVen_mean,admis_mean,newICU_mean,mobility_composite,confirmed_infections,total_pop
70224,2020-03-31,Alaska,136.761231,50.402575,35.366337,2.032854,0.741063,-51.364092,5.0,788027.5317
70225,2020-04-01,Alaska,144.557148,53.047031,37.174038,1.961619,0.729537,-52.020827,14.0,788027.5317
70226,2020-04-02,Alaska,150.801533,54.888955,38.411008,1.855147,0.704542,-52.518709,10.0,788027.5317
70227,2020-04-03,Alaska,155.270379,56.304417,39.342377,1.719822,0.667501,-52.871371,14.0,788027.5317
70228,2020-04-04,Alaska,157.813616,57.038762,39.792126,1.563691,0.620584,-53.091010,14.0,788027.5317

# Merge Dataset 1 & 2
#### Until now, we have:
- df_clean (the first): ranging from 1/22 to 11/2; 56 states; 10 columns
- df_hospital_clean (the second): ranging from 2/4 to 11/2; 53 states; 12 columns
- According to previous observations, we notice that columns in early months have more null values. Hence we chose to use data starting from **3/31**

In [54]:
df_clean  = df_clean[df_clean['datetime']>'2020-03-30']
df_clean  = df_clean[df_clean['datetime']<'2020-11-10']
df_hospital_clean = df_hospital_clean[df_hospital_clean['datetime']>'2020-03-30']

In [55]:
## df_hospital_clean doesn't have data for American Samoa, Northern Mariana Islands, Virgin Islands
## Hence we dropped data for the three regions in df_clean
df_clean = df_clean.drop(df_clean[df_clean['location_name']=='American Samoa'].index, axis=0)
df_clean = df_clean.drop(df_clean[df_clean['location_name']=='Northern Mariana Islands'].index, axis=0)
df_clean = df_clean.drop(df_clean[df_clean['location_name']=='Virgin Islands'].index, axis=0)

In [56]:
print(df_clean.shape)
print(df_hospital_clean.shape)

(11872, 10)
(11872, 10)

In [57]:
df_merge = pd.merge(df_clean, df_hospital_clean, on=['datetime', 'location_name'])
print(df_merge.shape)

(11872, 18)

In [58]:
## since the second dataset contains complete columns of hospitalized capacity, we directly drop similar columnns obtained from the first dataset
df_merge.drop(['hospitalizedCurrently', 'inIcuCurrently', 'onVentilatorCurrently', 'recovered'], axis=1, inplace=True)
df_merge

,datetime,location_name,death,negative,positive,totalTestResults,allbed_mean,ICUbed_mean,InvVen_mean,admis_mean,newICU_mean,mobility_composite,confirmed_infections,total_pop
0,2020-11-09,Alaska,84.0,748801.0,19196.0,767997.0,108.298152,29.167966,12.430271,5.062989,1.847292,-18.474221,NaN,7.880275e+05
1,2020-11-09,Alabama,3084.0,1232975.0,204857.0,1406829.0,1148.634788,309.362073,131.838276,46.678702,23.462433,-8.458567,1170.0,4.977688e+06
2,2020-11-09,Arkansas,2108.0,1324655.0,122811.0,1436416.0,690.777323,186.047216,79.286203,96.597606,38.754578,-13.490509,945.0,3.057349e+06
3,2020-11-09,Arizona,6164.0,1630206.0,259699.0,1883207.0,1600.698804,431.116579,183.725386,96.360769,42.056134,-24.696158,435.0,7.249680e+06
4,2020-11-09,California,17977.0,18946628.0,971851.0,19918479.0,3335.268826,828.269426,352.976730,131.275756,55.830378,-34.427708,8584.0,3.987203e+07
5,2020-11-09,Colorado,2179.0,1224658.0,134537.0,2274428.0,1142.510694,307.712669,131.135363,44.398528,22.531914,-28.697947,3553.0,5.401063e+06
6,2020-11-09,Connecticut,4698.0,2498115.0,81463.0,2579578.0,438.527188,118.108629,50.333377,21.428839,12.393794,-27.360530,3307.0,3.693747e+06
7,2020-11-09,District of Columbia,655.0,540727.0,18087.0,558814.0,97.145927,26.164335,11.150238,4.449856,1.599537,-40.327409,86.0,6.502245e+05
8,2020-11-09,Delaware,719.0,340672.0,26908.0,593799.0,113.763486,27.337703,11.650283,4.380501,2.203550,-27.260176,NaN,9.750952e+05
9,2020-11-09,Florida,17391.0,5573760.0,836370.0,10600474.0,2658.798631,716.094850,305.172219,179.846546,77.915998,-23.842662,3924.0,2.117489e+07
10,2020-11-09,Georgia,8677.0,3375713.0,374181.0,3749894.0,1914.224826,515.558615,219.711350,122.714346,46.984610,-20.200554,1629.0,1.066813e+07
11,2020-11-09,Guam,90.0,67481.0,5473.0,72954.0,94.257245,5.621361,5.621361,8.760342,2.532261,-18.591181,192.0,1.706275e+05
12,2020-11-09,Hawaii,221.0,295153.0,16179.0,566994.0,61.865842,16.662341,7.100852,2.699446,1.119874,-34.954418,NaN,1.487443e+06
13,2020-11-09,Iowa,1849.0,800699.0,144922.0,945621.0,949.752749,208.450886,74.750107,62.320694,30.899590,-9.769198,5132.0,3.130718e+06
14,2020-11-09,Idaho,686.0,345543.0,72961.0,408308.0,275.642562,74.238875,31.637767,28.695748,14.785929,-16.237211,1266.0,1.735119e+06
15,2020-11-09,Illinois,10563.0,7970504.0,498560.0,8469064.0,4517.424433,937.419335,411.204380,232.430497,107.651140,-27.775700,10573.0,1.304251e+07
16,2020-11-09,Indiana,4664.0,1608520.0,214509.0,3239034.0,2160.828779,620.529588,217.185356,112.193725,59.553462,-16.744202,4135.0,6.719600e+06
17,2020-11-09,Kansas,1181.0,586429.0,103553.0,689982.0,575.187981,154.915512,66.019062,42.071253,17.671834,-18.310810,610.0,2.969706e+06
18,2020-11-09,Kentucky,1576.0,1983502.0,122567.0,2085875.0,1080.059832,286.220860,121.976376,24.942297,12.906706,-17.398098,NaN,4.504877e+06
19,2020-11-09,Louisiana,6048.0,2705091.0,193372.0,2898463.0,647.108788,174.285960,74.274006,37.332309,18.037107,-14.054004,391.0,4.588275e+06
20,2020-11-09,Massachusetts,10163.0,2743519.0,172727.0,6767987.0,527.062520,105.571709,44.990622,32.725060,22.625727,-38.707762,NaN,6.665096e+06
21,2020-11-09,Maryland,4221.0,1882274.0,155371.0,3678109.0,640.393395,164.523468,70.113605,26.777301,12.349095,-31.747687,1375.0,6.142347e+06
22,2020-11-09,Maine,153.0,690515.0,7888.0,698403.0,42.167992,13.108562,6.435731,1.655728,0.844835,-17.735509,195.0,1.353539e+06
23,2020-11-09,Michigan,8008.0,5130002.0,238308.0,5368310.0,2510.157646,676.061339,288.111469,69.202141,45.873493,-24.650351,9235.0,9.712915e+06
24,2020-11-09,Minnesota,2675.0,1834067.0,184788.0,3103434.0,1092.853423,534.550607,227.805011,61.192231,36.804668,-22.320447,3926.0,5.565821e+06
25,2020-11-09,Missouri,3153.0,1395434.0,212441.0,2669455.0,1924.877127,518.427602,220.934003,62.708083,32.731778,-18.124734,NaN,6.242957e+06
26,2020-11-09,Mississippi,3443.0,873863.0,127205.0,1001068.0,728.430683,186.690712,83.997000,37.481004,17.944780,-8.479882,516.0,3.003694e+06
27,2020-11-09,Montana,457.0,500860.0,40053.0,540913.0,433.561136,116.771121,49.763383,36.477603,16.156988,-22.092039,NaN,1.039607e+06
28,2020-11-09,North Carolina,4615.0,4104756.0,294860.0,4399616.0,1226.756188,330.402528,140.804912,102.811697,49.587859,-22.698168,1521.0,1.059103e+07
29,2020-11-09,North Dakota,649.0,255540.0,55458.0,907372.0,416.050125,112.054876,47.753500,41.261231,22.507399,-14.362090,1153.0,7.082498e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11842,2020-03-31,Michigan,551.0,26334.0,18654.0,44988.0,1627.619229,599.849824,420.900931,168.641655,109.054440,-67.457712,1213.0,9.712915e+06
11843,2020-03-31,Minnesota,12.0,20935.0,916.0,21851.0,54.476481,29.471097,20.679196,6.689931,3.966287,-61.181261,53.0,5.565821e+06
11844,2020-03-31,Missouri,14.0,14614.0,1327.0,19189.0,185.098113,68.216858,47.866213,15.497408,7.558093,-46.543644,304.0,6.242957e+06
11845,2020-03-31,Mississippi,20.0,3537.0,937.0,4474.0,198.995973,60.381927,37.234193,14.628712,6.805224,-34.492096,90.0,3.003694e+06
11846,2020-03-31,Montana,4.0,4234.0,184.0,4418.0,14.760776,5.440000,3.817124,1.275466,0.556194,-38.114892,27.0,1.039607e+06
11847,2020-03-31,North Carolina,8.0,21608.0,1498.0,23106.0,145.893112,53.768078,37.727833,13.460457,5.982805,-45.185050,195.0,1.059103e+07
11848,2020-03-31,North Dakota,3.0,4131.0,117.0,4075.0,9.418123,3.470996,2.435518,0.791936,0.428245,-44.853137,13.0,7.082498e+05
11849,2020-03-31,Nebraska,3.0,2931.0,172.0,3002.0,28.327699,10.440013,7.325519,3.238874,1.243683,-34.752227,27.0,1.913992e+06
11850,2020-03-31,New Hampshire,3.0,5413.0,314.0,6240.0,27.928959,10.293059,7.222405,1.799222,1.393749,-47.097652,53.0,1.352739e+06
11851,2020-03-31,New Jersey,364.0,27077.0,18696.0,45773.0,2196.147816,303.932827,303.932827,574.490249,251.803131,-60.596707,2060.0,9.039889e+06
11852,2020-03-31,New Mexico,5.0,12925.0,315.0,13240.0,23.501541,8.661359,6.077478,4.762110,1.806463,-41.750662,78.0,2.185562e+06
11853,2020-03-31,Nevada,37.0,10681.0,1113.0,14826.0,205.005568,75.553638,53.014263,26.760111,10.308473,-55.728683,117.0,3.215025e+06
11854,2020-03-31,New York,1550.0,129438.0,75795.0,205233.0,10976.251940,4045.235324,2838.449302,2557.269429,1031.833591,-65.710157,8647.0,1.979037e+07
11855,2020-03-31,Ohio,55.0,26992.0,2199.0,29191.0,217.702526,80.233030,56.297686,29.030176,17.069234,-47.842213,266.0,1.157859e+07
11856,2020-03-31,Oklahoma,23.0,1229.0,565.0,1794.0,119.036681,84.246911,59.114135,19.568749,8.029920,-42.064332,87.0,3.946852e+06
11857,2020-03-31,Oregon,18.0,13136.0,690.0,13826.0,132.316892,38.825817,32.006491,8.263865,3.504581,-49.034335,84.0,4.030309e+06
11858,2020-03-31,Pennsylvania,63.0,37645.0,4843.0,42488.0,554.445171,204.337619,143.379044,69.560709,36.535579,-54.049881,808.0,1.299486e+07
11859,2020-03-31,Puerto Rico,8.0,1195.0,239.0,1434.0,65.000878,23.156029,23.156029,8.816623,3.217153,-58.932013,34.0,3.521431e+06
11860,2020-03-31,Rhode Island,8.0,3544.0,568.0,3897.0,51.524760,18.462256,12.981441,8.128504,4.324394,-53.561433,79.0,1.044171e+06
11861,2020-03-31,South Carolina,22.0,4616.0,1083.0,5699.0,159.182268,58.665721,41.164398,12.426559,5.695597,-38.869219,162.0,5.045228e+06
11862,2020-03-31,South Dakota,1.0,3609.0,108.0,3717.0,16.026673,5.906539,4.144484,1.027628,0.398022,-29.596397,7.0,8.648215e+05
11863,2020-03-31,Tennessee,23.0,25121.0,2239.0,27360.0,259.227615,95.536866,67.036038,28.282208,10.420750,-38.276795,474.0,6.726396e+06
11864,2020-03-31,Texas,41.0,39726.0,3266.0,42992.0,206.384237,76.061739,53.370786,62.129913,21.551287,-49.126979,401.0,2.841864e+07
11865,2020-03-31,Utah,5.0,20526.0,887.0,21930.0,45.392655,12.106652,8.494962,7.855384,2.371429,-46.162636,90.0,3.147205e+06
11866,2020-03-31,Virginia,27.0,12151.0,1250.0,21393.0,267.319257,86.658710,53.767101,17.698415,8.834469,-51.970271,229.0,8.695418e+06
11867,2020-03-31,Vermont,13.0,3839.0,293.0,4447.0,27.325208,10.070550,7.066275,2.718114,1.369889,-60.596988,37.0,6.273707e+05
11868,2020-03-31,Washington,262.0,81463.0,6949.0,88412.0,889.223080,327.718117,229.952323,55.928415,27.994689,-50.890062,310.0,7.301577e+06
11869,2020-03-31,Wisconsin,16.0,17375.0,1585.0,20389.0,178.027155,81.926829,57.486186,30.298960,12.723576,-55.202821,182.0,5.877688e+06
11870,2020-03-31,West Virginia,1.0,3981.0,162.0,4143.0,11.343474,2.328702,2.328702,0.868517,0.407867,-40.958320,17.0,1.860312e+06
11871,2020-03-31,Wyoming,0.0,1999.0,109.0,2922.0,0.804093,0.296344,0.207938,0.105949,0.037937,-27.239577,20.0,6.102995e+05

In [59]:
df_merge.to_csv('covid_us_merge.csv', index=False)

# Dataset 3. Mobility data
 - this dataset is downloaded from [a github dataset](https://github.com/GeoDS/COVID19USFlows) and merged according to the instructions
 - we have chosen to download data from 2020-03-27 to 2020-11-02
 - we have uploaded this dataset (merged) to GitHub as part of the codes

### 3.1 Dataset Structure & Preprocessing

In [34]:
df_mobility = pd.read_csv('daily_state2state.csv')
print(df_mobility.shape)
df_mobility.head()

(589813, 9)

,geoid_o,geoid_d,lng_o,lat_o,lng_d,lat_d,date_range,visitor_flows,pop_flows
0,1,1,-86.844521,32.75688,-86.844521,32.756880,2020/3/27,806784,9782825
1,1,2,-86.844521,32.75688,-151.250549,63.788469,2020/3/27,19,230
2,1,4,-86.844521,32.75688,-111.664460,34.293095,2020/3/27,199,2413
3,1,5,-86.844521,32.75688,-92.439237,34.899772,2020/3/27,470,5699
4,1,6,-86.844521,32.75688,-119.663846,37.215308,2020/3/27,479,5808

#### Conclusion:
- The dataset uses **longitude and latitude** to represent different states (but they are self-defined by the creator, instead of using the standard latitudes and longitudes)
- For each date, one row records **visitor_flows and pop_flows** move from one place to another destination
- We want to calculate the total visitor flows and total population flows for every state on each date

In [35]:
datetime = pd.to_datetime(df_mobility.iloc[:, 6], format='%Y-%m-%d')
df_mobility.insert(0, 'datetime', datetime)
df_mobility.drop(['date_range'], axis=1, inplace=True)
df_mobility.head()

,datetime,geoid_o,geoid_d,lng_o,lat_o,lng_d,lat_d,visitor_flows,pop_flows
0,2020-03-27,1,1,-86.844521,32.75688,-86.844521,32.756880,806784,9782825
1,2020-03-27,1,2,-86.844521,32.75688,-151.250549,63.788469,19,230
2,2020-03-27,1,4,-86.844521,32.75688,-111.664460,34.293095,199,2413
3,2020-03-27,1,5,-86.844521,32.75688,-92.439237,34.899772,470,5699
4,2020-03-27,1,6,-86.844521,32.75688,-119.663846,37.215308,479,5808

In [36]:
df_mobility[df_mobility['geoid_o'] == 1]['geoid_d']

0          1
1          2
2          4
3          5
4          6
5          8
6          9
7         10
8         11
9         12
10        13
11        15
12        16
13        17
14        18
15        19
16        20
17        21
18        22
19        23
20        24
21        25
22        26
23        27
24        28
25        29
26        30
27        31
28        32
29        33
          ..
587180    25
587181    26
587182    27
587183    28
587184    29
587185    30
587186    31
587187    32
587188    33
587189    34
587190    35
587191    36
587192    37
587193    38
587194    39
587195    40
587196    41
587197    42
587198    45
587199    46
587200    47
587201    48
587202    49
587203    50
587204    51
587205    53
587206    54
587207    55
587208    56
587209    72
Name: geoid_d, Length: 11491, dtype: int64

- We noticed that the region with geoid ==72 has a problematic latitude and longitude, which cannot be recognized as any concrete region on Google Map, hence we dropped rows whose geoid == 72

In [37]:
df_mobility.drop(df_mobility[df_mobility['geoid_o']==72].index, axis=0, inplace=True)
df_mobility.drop(df_mobility[df_mobility['geoid_d']==72].index, axis=0, inplace=True)

### 3.2 Aggregate visitor flows and pop flows of each state on each date

In [38]:
result = df_mobility.groupby(['datetime', 'geoid_o']).agg({'visitor_flows': 'sum', 'pop_flows': 'sum'})
df_outflow = result.reset_index()
df_outflow.rename(columns={'geoid_o': 'geoid', 'visitor_flows': 'visitor_outflow', 'pop_flows':'pop_outflow'}, inplace=True)
print(df_outflow.shape)
df_outflow.head()

(11271, 4)

    datetime  geoid  visitor_outflow  pop_outflow
0 2020-03-27      1           851538     10325474
1 2020-03-27      2            40167      1081863
2 2020-03-27      4           603781     11941596
3 2020-03-27      5           446011      6067115
4 2020-03-27      6          2377377     65100117

In [39]:
result2 = df_mobility.groupby(['datetime', 'geoid_d']).agg({'visitor_flows': 'sum', 'pop_flows': 'sum'})
df_inflow = result2.reset_index()
df_inflow.rename(columns={'geoid_d': 'geoid', 'visitor_flows': 'visitor_inflow', 'pop_flows':'pop_inflow'}, inplace=True)
print(df_inflow.shape)
df_inflow.head()

(11271, 4)

    datetime  geoid  visitor_inflow  pop_inflow
0 2020-03-27      1          843234    10367598
1 2020-03-27      2           40642     1082693
2 2020-03-27      4          602943    11967096
3 2020-03-27      5          445254     6113562
4 2020-03-27      6         2365173    64430714

In [40]:
df_mob_merge = pd.merge(df_outflow, df_inflow, on=['datetime', 'geoid'])
df_mob_merge.head()

    datetime  geoid  visitor_outflow  pop_outflow  visitor_inflow  pop_inflow
0 2020-03-27      1           851538     10325474          843234    10367598
1 2020-03-27      2            40167      1081863           40642     1082693
2 2020-03-27      4           603781     11941596          602943    11967096
3 2020-03-27      5           446011      6067115          445254     6113562
4 2020-03-27      6          2377377     65100117         2365173    64430714

### 3.3 Match state names to latitude & longitude
- As mentioned before, the latitudes and longitudes used in this dataset are self-defined by the creator
- Since there are no keys of their according state names, we searched these latitudes and longitudes on Google Map to locate the state

In [41]:
df_mobility.groupby(['geoid_o', 'lat_o', 'lng_o']).groups.keys()

dict_keys([(1, 32.75687994, -86.844521), (2, 63.74298902, -151.5934219), (2, 63.78846948, -151.25054880000002), (4, 34.29309519, -111.66446029999999), (5, 34.89977242, -92.43923686), (6, 37.21530826, -119.6638459), (8, 38.9985316, -105.5478211), (9, 41.57516415, -72.73825768), (10, 38.99497529, -75.45249263), (11, 38.90477389, -77.01629090000002), (12, 28.47705841, -82.46641839), (13, 32.63861711, -83.42714021), (15, 20.9951112, -158.1099738), (16, 44.38905509, -114.65941399999998), (17, 40.12420083, -89.14863899), (18, 39.91986962, -86.28183839), (19, 42.07464833, -93.50009012), (20, 38.48472707, -98.3801554), (21, 37.52661417, -85.29055223), (22, 30.909072899999998, -91.81423318), (23, 45.27432853, -69.20275986), (24, 38.94649396, -76.68717734), (25, 42.16009327, -71.50397204), (26, 44.874773600000005, -85.73095291), (27, 46.34911038, -94.1983056), (28, 32.71289227, -89.65335941), (29, 38.36763044, -92.4774252), (30, 47.03342111, -109.64520700000001), (31, 41.52715113, -99.81085586), (32, 39.35618587, -116.6552487), (33, 43.68023706, -71.57124317), (34, 40.11017985, -74.65561231), (35, 34.42130099, -106.1084439), (36, 42.92123355, -75.59654322), (37, 35.52603039, -79.13090892), (38, 47.44631042, -100.4693908), (39, 40.41548691, -82.70937701), (40, 35.58346465, -97.50822793), (41, 43.94045139, -120.60525630000001), (42, 40.89670051, -77.83893801), (44, 41.5946389, -71.52472356), (45, 33.87785607, -80.86459716), (46, 44.43613759, -100.23046550000001), (46, 44.44664208, -100.2033536), (47, 35.84298014, -86.34341233), (48, 31.44721219, -99.31712097), (49, 39.32376871, -111.67825), (50, 44.07524823, -72.66263037), (51, 37.510873100000005, -78.66634949), (53, 47.41163922, -120.5928999), (54, 38.6425671, -80.6137069), (55, 44.63994411, -89.73293306), (56, 42.99953746, -107.5513942)])

In [44]:
## match state abbreviation with geoid
geo_dict = {1: 'AL', 2:'AK', 4: 'AZ', 5: 'AR', 6: 'CA', 8: 'CO', 9: 'CT', 10: 'DE', 
        11: 'DC', 12: 'FL', 13: 'GA', 15: 'HI', 16: 'ID', 17: 'IL', 18: 'IN', 19: 'IA', 20: 'KS', 
       21: 'KY', 22: 'LA', 23: 'ME', 24: 'MD', 25: 'MA', 26: 'MI', 27: 'MN', 28: 'MS', 29: 'MO', 30: 'MT', 
       31: 'NE', 32: 'NV', 33: 'NH', 34: 'NJ', 35: 'NM', 36: 'NY', 37: 'NC', 38: 'ND', 39: 'OH', 40: 'OK',
       41: 'OR', 42: 'PA', 44: 'RI', 45: 'SC', 46: 'SD', 47: 'TN', 48: 'TX', 49: 'UT', 50: 'VT', 
       51: 'VA', 53: 'WA', 54: 'WV', 55: 'WI', 56: 'WY'}   ## 51 regions (50 states + District of Columbia)

In [45]:
location_name = df_mob_merge.geoid.apply(lambda x: us_state_abbrev[geo_dict[x]])
df_mob_merge.insert(1, 'location_name', location_name)
df_mob_merge.drop(['geoid'], axis=1, inplace=True)
df_mob_merge.head()

,datetime,location_name,visitor_outflow,pop_outflow,visitor_inflow,pop_inflow
0,2020-03-27,Alabama,851538,10325474,843234,10367598
1,2020-03-27,Alaska,40167,1081863,40642,1082693
2,2020-03-27,Arizona,603781,11941596,602943,11967096
3,2020-03-27,Arkansas,446011,6067115,445254,6113562
4,2020-03-27,California,2377377,65100117,2365173,64430714

In [46]:
print(df_mob_merge.shape)

(11271, 6)

In [47]:
df_mob_merge.to_csv('mobility_us_merge.csv', index=False)

# Merge Dataset 1, 2, 3
#### Until now, we have:
- dataset 1&2 merged together: covers from 3/31 to 11/2, 53 states
- dataset 3 (mobility data): covers from 3/27 to 11/2, 51 states (compared to the first 2 datasets, lacking data for Guam and Puerto Rico)

In [60]:
## this datasheet has merged dataset 1 & 2
df = pd.read_csv('covid_us_merge.csv')
print(df.shape)
df.head()

(11872, 14)

,datetime,location_name,death,negative,positive,totalTestResults,allbed_mean,ICUbed_mean,InvVen_mean,admis_mean,newICU_mean,mobility_composite,confirmed_infections,total_pop
0,2020-11-09,Alaska,84.0,748801.0,19196.0,767997.0,108.298152,29.167966,12.430271,5.062989,1.847292,-18.474221,NaN,7.880275e+05
1,2020-11-09,Alabama,3084.0,1232975.0,204857.0,1406829.0,1148.634788,309.362073,131.838276,46.678702,23.462433,-8.458567,1170.0,4.977688e+06
2,2020-11-09,Arkansas,2108.0,1324655.0,122811.0,1436416.0,690.777323,186.047216,79.286203,96.597606,38.754578,-13.490509,945.0,3.057349e+06
3,2020-11-09,Arizona,6164.0,1630206.0,259699.0,1883207.0,1600.698804,431.116579,183.725386,96.360769,42.056134,-24.696158,435.0,7.249680e+06
4,2020-11-09,California,17977.0,18946628.0,971851.0,19918479.0,3335.268826,828.269426,352.976730,131.275756,55.830378,-34.427708,8584.0,3.987203e+07

In [61]:
df2 = pd.read_csv('mobility_us_merge.csv')
print(df2.shape)
df2.head()

(11271, 6)

,datetime,location_name,visitor_outflow,pop_outflow,visitor_inflow,pop_inflow
0,2020-03-27,Alabama,851538,10325474,843234,10367598
1,2020-03-27,Alaska,40167,1081863,40642,1082693
2,2020-03-27,Arizona,603781,11941596,602943,11967096
3,2020-03-27,Arkansas,446011,6067115,445254,6113562
4,2020-03-27,California,2377377,65100117,2365173,64430714

In [62]:
df_all = pd.merge(df2, df, on=['datetime', 'location_name'])
print(df_all.shape)
df_all.head()

(11067, 18)

,datetime,location_name,visitor_outflow,pop_outflow,visitor_inflow,pop_inflow,death,negative,positive,totalTestResults,allbed_mean,ICUbed_mean,InvVen_mean,admis_mean,newICU_mean,mobility_composite,confirmed_infections,total_pop
0,2020-03-31,Alabama,769270,8825216,760336,8835878,13.0,6298.0,981.0,7279.0,191.012578,70.396601,49.395688,13.247017,6.528103,-34.048960,89.0,4.977688e+06
1,2020-03-31,Alaska,41968,1082608,42641,1086290,3.0,3585.0,128.0,3713.0,136.761231,50.402575,35.366337,2.032854,0.741063,-51.364092,5.0,7.880275e+05
2,2020-03-31,Arizona,606842,11593010,602261,11527235,24.0,18082.0,1289.0,19371.0,195.322141,71.984866,50.510137,19.359117,8.312889,-46.676021,131.0,7.249680e+06
3,2020-03-31,Arkansas,429017,5545115,430337,5616031,8.0,5959.0,523.0,6482.0,58.883668,21.701241,15.227266,6.055093,2.313203,-34.007596,49.0,3.057349e+06
4,2020-03-31,California,2409606,62351675,2400612,61786250,153.0,21772.0,7482.0,29254.0,1543.960063,686.615038,481.782101,123.759470,49.084774,-53.153443,1072.0,3.987203e+07

In [63]:
state_names = list(df_all.groupby('location_name').groups.keys())
len(state_names)

51

In [64]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11067 entries, 0 to 11066
Data columns (total 18 columns):
datetime                11067 non-null object
location_name           11067 non-null object
visitor_outflow         11067 non-null int64
pop_outflow             11067 non-null int64
visitor_inflow          11067 non-null int64
pop_inflow              11067 non-null int64
death                   11066 non-null float64
negative                11067 non-null float64
positive                11067 non-null float64
totalTestResults        11067 non-null float64
allbed_mean             11067 non-null float64
ICUbed_mean             11067 non-null float64
InvVen_mean             11067 non-null float64
admis_mean              11067 non-null float64
newICU_mean             11067 non-null float64
mobility_composite      11067 non-null float64
confirmed_infections    10886 non-null float64
total_pop               11067 non-null float64
dtypes: float64(12), int64(4), object(2)
memory usage: 1.6+ MB

In [65]:
df_all = df_all[df_all['datetime']>='2020-04-01']

In [66]:
print(df_all.shape)

(11016, 18)

# Afterwards asjustments
- We noticed that the **death** column (obtained from the first dataset) represents the accumulative total deaths, instead of the daily new deaths. Hence we need to preprocess the column further.
- We want to add standard latitudes and longitudes information of states out of 2 reasons: 
    - they could differentiate data on the same datetime
    - states with similar latitudes and longitutdes could be considered as neighbours, whose daily deaths number might be similar to each other

In [67]:
states = df_all.groupby('location_name')
state_list = []
for name, group in states:
    df_temp = states.get_group(name)
    daily_death = df_temp['death'] - df_temp['death'].shift(1)
    df_temp.drop(['death'], axis=1, inplace=True)
    df_temp['death'] = daily_death
    state_list.append(df_temp.iloc[1:, :])  ## first row of death for each state will be null
    
df_new = pd.concat(state_list)

/Users/jqh/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)
/Users/jqh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [73]:
df_new = df_new.reset_index()
df_new.drop(['index'], axis=1, inplace=True)
df_new.death[df_new['death'] < 0] = 0  ## there are few rows containing negative daily deaths after we do the subtraction, hence we clean these entries by setting them to 0

/Users/jqh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [72]:
df_new

,datetime,location_name,visitor_outflow,pop_outflow,visitor_inflow,pop_inflow,negative,positive,totalTestResults,allbed_mean,ICUbed_mean,InvVen_mean,admis_mean,newICU_mean,mobility_composite,confirmed_infections,total_pop,death
0,2020-04-02,Alabama,911906,9566649,904113,9582535,7503.0,1233.0,8736.0,224.946291,81.876268,57.296591,15.312697,7.590339,-35.207619,175.0,4.977688e+06,6.0
1,2020-04-03,Alabama,974948,10292520,969556,10335855,8187.0,1432.0,9619.0,246.399825,89.349936,62.432738,16.178042,8.042432,-35.667289,265.0,4.977688e+06,3.0
2,2020-04-04,Alabama,854480,9205708,852529,9277032,9273.0,1580.0,10853.0,266.754599,96.413430,67.261197,16.916438,8.432862,-36.044666,120.0,4.977688e+06,8.0
3,2020-04-05,Alabama,699333,7848208,696765,7892404,11282.0,1796.0,13078.0,273.266913,97.884635,68.174187,17.527168,8.760063,-36.334809,153.0,4.977688e+06,2.0
4,2020-04-06,Alabama,815949,9098459,809844,9118196,12797.0,1968.0,14765.0,287.322866,101.783974,70.768875,18.017711,9.026577,-36.532078,189.0,4.977688e+06,5.0
5,2020-04-07,Alabama,800970,8880744,795176,8907915,12797.0,2119.0,14916.0,303.175816,106.121403,73.744129,18.401899,9.238272,-36.631877,219.0,4.977688e+06,6.0
6,2020-04-08,Alabama,822245,9090832,816514,9116636,16753.0,2369.0,19122.0,318.960947,108.492215,75.314414,18.698007,9.403467,-36.631253,161.0,4.977688e+06,10.0
7,2020-04-09,Alabama,860851,9424386,857062,9481502,18058.0,2769.0,20827.0,319.757769,106.504510,73.994431,18.927377,9.532283,-36.529348,380.0,4.977688e+06,8.0
8,2020-04-10,Alabama,904245,10085256,900495,10150378,18058.0,2968.0,21026.0,330.706191,108.816095,75.548602,19.113003,9.635906,-36.327775,247.0,4.977688e+06,6.0
9,2020-04-11,Alabama,853779,9551467,852255,9633466,18058.0,3191.0,21249.0,341.205289,110.535196,76.714825,19.278145,9.725862,-36.031160,273.0,4.977688e+06,11.0
10,2020-04-12,Alabama,639450,7014224,637206,7066536,18058.0,3525.0,21583.0,353.878672,111.663760,77.258121,19.444840,9.813268,-35.647325,351.0,4.977688e+06,2.0
11,2020-04-13,Alabama,818794,9350819,813162,9382113,25448.0,3734.0,29182.0,358.680276,110.593599,75.971713,19.632099,9.907936,-35.187016,173.0,4.977688e+06,6.0
12,2020-04-14,Alabama,791805,9851753,785680,9879279,29241.0,3876.0,33117.0,360.141010,109.429599,74.878297,19.855024,10.017907,-34.663701,221.0,4.977688e+06,11.0
13,2020-04-15,Alabama,822743,10226776,816450,10255253,29964.0,4113.0,34077.0,361.963417,108.090830,73.509580,20.124491,10.149228,-34.090934,123.0,4.977688e+06,11.0
14,2020-04-16,Alabama,828653,10358494,822084,10387154,32046.0,4345.0,36391.0,372.813490,110.091804,74.272224,20.446306,10.305483,-33.479911,273.0,4.977688e+06,12.0
15,2020-04-17,Alabama,885604,10961936,880243,11017178,33318.0,4530.0,37848.0,374.699083,109.625144,73.485235,20.822474,10.488326,-32.838045,228.0,4.977688e+06,11.0
16,2020-04-18,Alabama,819587,10063420,817015,10154102,37883.0,4655.0,42538.0,377.199689,109.006703,72.694208,21.251962,10.697816,-32.168793,143.0,4.977688e+06,2.0
17,2020-04-19,Alabama,646538,7495192,643883,7570777,40875.0,4837.0,45712.0,381.778116,108.881608,72.054302,21.731512,10.932749,-31.471926,178.0,4.977688e+06,8.0
18,2020-04-20,Alabama,841848,9943744,835319,9969055,40875.0,5025.0,45900.0,388.148100,109.505492,72.633434,22.256190,11.190965,-30.744168,169.0,4.977688e+06,13.0
19,2020-04-21,Alabama,876024,9906528,868970,9941989,43295.0,5231.0,48526.0,397.200585,111.289307,74.054414,22.819501,11.469446,-29.980750,244.0,4.977688e+06,10.0
20,2020-04-22,Alabama,880227,10007540,873248,10041883,43295.0,5465.0,48760.0,395.844053,110.514134,73.036214,23.413266,11.764295,-29.175154,279.0,4.977688e+06,17.0
21,2020-04-23,Alabama,818634,9126568,810845,9150608,46863.0,5778.0,52641.0,399.514816,111.443198,72.771462,24.027466,12.070688,-28.320753,247.0,4.977688e+06,3.0
22,2020-04-24,Alabama,938722,10893451,931477,10935059,46863.0,5832.0,52695.0,403.644184,111.933664,72.514253,24.650146,12.382847,-27.413460,16.0,4.977688e+06,0.0
23,2020-04-25,Alabama,850147,9640603,845913,9737417,65207.0,6137.0,71344.0,420.215307,116.482978,74.934320,25.267835,12.694211,-26.453711,380.0,4.977688e+06,15.0
24,2020-04-26,Alabama,755878,9110765,751733,9170791,67281.0,6270.0,73551.0,427.942404,118.388524,76.243900,25.866237,12.997758,-25.446238,64.0,4.977688e+06,4.0
25,2020-04-27,Alabama,852676,10067519,844277,10085008,67498.0,6499.0,73997.0,438.449152,120.512557,77.357981,26.430705,13.286207,-24.399890,272.0,4.977688e+06,6.0
26,2020-04-28,Alabama,865972,10259361,859439,10306240,69140.0,6687.0,75827.0,447.814658,121.859862,78.383134,26.947277,13.552519,-23.328111,213.0,4.977688e+06,20.0
27,2020-04-29,Alabama,820342,9711353,813644,9752424,73607.0,6842.0,80449.0,459.771613,124.460133,80.338435,27.403503,13.790303,-22.248132,164.0,4.977688e+06,3.0
28,2020-04-30,Alabama,897753,10799738,890220,10839922,80177.0,7019.0,87196.0,467.123909,126.093482,82.088886,27.788186,13.993727,-21.180090,178.0,4.977688e+06,24.0
29,2020-05-01,Alabama,1059133,11728302,1054593,11811603,84775.0,7158.0,91933.0,480.545118,128.840293,84.224557,28.091205,14.157480,-20.145950,208.0,4.977688e+06,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10935,2020-10-04,Wyoming,54665,1012629,59284,1079467,97064.0,6504.0,186034.0,34.098165,8.962824,4.108662,0.971146,0.384255,4.268390,139.0,6.102995e+05,0.0
10936,2020-10-05,Wyoming,62416,1119022,66137,1169792,99533.0,6629.0,192573.0,37.696867,9.932579,4.423100,1.076006,0.419380,3.841086,125.0,6.102995e+05,0.0
10937,2020-10-06,Wyoming,64177,1138621,67753,1186268,99912.0,6770.0,198508.0,40.514573,10.697485,4.644571,1.210135,0.465322,3.366387,141.0,6.102995e+05,0.0
10938,2020-10-07,Wyoming,64586,1153462,68545,1206694,100946.0,6899.0,202703.0,43.611442,11.517071,4.979980,1.378572,0.523905,2.865243,129.0,6.102995e+05,0.0
10939,2020-10-08,Wyoming,66222,1170561,70338,1224761,101850.0,7092.0,206024.0,47.027518,12.392322,5.342274,1.586751,0.597163,2.356867,193.0,6.102995e+05,1.0
10940,2020-10-09,Wyoming,68863,1223362,72533,1270323,103176.0,7335.0,209041.0,49.544868,13.028759,5.583716,1.840359,0.687303,1.853789,243.0,6.102995e+05,0.0
10941,2020-10-10,Wyoming,64079,1152663,67030,1186152,103176.0,7455.0,209908.0,50.054244,13.152090,5.619329,2.145014,0.796610,1.363924,120.0,6.102995e+05,0.0
10942,2020-10-11,Wyoming,56041,984857,59285,1026947,103176.0,7611.0,210509.0,49.993179,13.139518,5.571647,2.505705,0.927251,0.892992,156.0,6.102995e+05,0.0
10943,2020-10-12,Wyoming,62547,1099429,65389,1135306,103176.0,7802.0,216342.0,49.609817,13.056041,5.508361,2.926064,1.081043,0.442877,191.0,6.102995e+05,0.0
10944,2020-10-13,Wyoming,63942,1123105,67356,1169486,105879.0,7964.0,221182.0,49.497603,13.068073,5.517291,3.407488,1.259168,0.008153,162.0,6.102995e+05,3.0
10945,2020-10-14,Wyoming,63371,1138141,67054,1190633,102849.0,8177.0,225518.0,49.378794,13.037974,5.510561,3.948178,1.461818,-0.423896,213.0,6.102995e+05,0.0
10946,2020-10-15,Wyoming,63802,1156142,67716,1210168,108014.0,8375.0,229079.0,49.238877,13.039300,5.509120,4.542403,1.687889,-0.873870,198.0,6.102995e+05,0.0
10947,2020-10-16,Wyoming,66610,1216323,69925,1259917,108754.0,8665.0,232407.0,51.545915,13.674460,5.806102,5.180655,1.934904,-1.368310,290.0,6.102995e+05,0.0
10948,2020-10-17,Wyoming,60396,1109696,62969,1141398,108754.0,8816.0,233128.0,54.488778,14.487323,6.189748,5.850199,2.199027,-1.929352,151.0,6.102995e+05,0.0
10949,2020-10-18,Wyoming,53730,970607,56397,1006166,108754.0,9025.0,233925.0,57.735748,15.381061,6.542142,6.535521,2.475092,-2.567338,209.0,6.102995e+05,0.0
10950,2020-10-19,Wyoming,61163,1117804,63370,1144025,108754.0,9311.0,240151.0,61.829413,16.466588,7.017666,7.220005,2.757091,-3.278679,286.0,6.102995e+05,0.0
10951,2020-10-20,Wyoming,61538,1129294,64075,1161845,108754.0,9526.0,245133.0,66.399567,17.682181,7.447457,7.887496,3.038695,-4.040744,215.0,6.102995e+05,4.0
10952,2020-10-21,Wyoming,62820,1149093,65852,1189565,111822.0,9848.0,249425.0,71.267422,18.973345,7.999295,8.522890,3.313481,-4.814113,322.0,6.102995e+05,0.0
10953,2020-10-22,Wyoming,61630,1109418,64033,1139250,111822.0,10119.0,253894.0,77.947728,20.824883,8.739741,9.112431,3.575251,-5.550754,271.0,6.102995e+05,7.0
10954,2020-10-23,Wyoming,66036,1206678,67572,1220829,113686.0,10545.0,257821.0,82.629469,22.048018,9.387474,9.643943,3.818315,-6.200062,426.0,6.102995e+05,0.0
10955,2020-10-24,Wyoming,58825,1076252,59271,1075030,113686.0,10805.0,258810.0,88.310153,23.583916,10.080474,10.107264,4.037698,-6.718390,260.0,6.102995e+05,0.0
10956,2020-10-25,Wyoming,48461,889593,48372,881615,113686.0,11041.0,259404.0,94.233063,25.298619,10.797972,10.494485,4.229248,-7.076094,236.0,6.102995e+05,0.0
10957,2020-10-26,Wyoming,57666,1079992,59554,1103710,113686.0,11477.0,265459.0,98.287929,26.436348,11.185706,10.800150,4.389723,-7.265566,436.0,6.102995e+05,9.0
10958,2020-10-27,Wyoming,58804,1122767,60507,1143728,113686.0,11806.0,270870.0,103.541390,27.816767,11.697595,11.025696,4.518103,-7.308803,329.0,6.102995e+05,0.0
10959,2020-10-28,Wyoming,60160,1147904,61807,1170219,113686.0,12146.0,275282.0,109.038766,29.340303,12.307425,11.184934,4.617165,-7.253070,340.0,6.102995e+05,0.0
10960,2020-10-29,Wyoming,62206,1158214,63142,1163619,116955.0,12507.0,279435.0,112.198405,30.293936,12.658894,11.302955,4.693202,-7.162544,361.0,6.102995e+05,10.0
10961,2020-10-30,Wyoming,64777,1226371,65085,1219138,116955.0,13028.0,283120.0,116.255580,31.403964,13.151406,11.403446,4.753080,-7.114358,521.0,6.102995e+05,0.0
10962,2020-10-31,Wyoming,60353,1186854,60599,1178784,117262.0,13298.0,283918.0,118.895876,32.222665,13.559000,11.501085,4.802864,-7.186512,270.0,6.102995e+05,0.0
10963,2020-11-01,Wyoming,52633,984026,52679,973986,117262.0,13723.0,284746.0,123.649306,33.339871,14.113972,11.602594,4.847959,-7.439426,425.0,6.102995e+05,0.0
10964,2020-11-02,Wyoming,60386,1112143,60650,1107019,119851.0,14167.0,291698.0,127.009851,34.197825,14.516751,11.707359,4.891514,-7.905881,444.0,6.102995e+05,0.0

In [74]:
df_geo = pd.read_excel('geo_us_state.xlsx')  
df_geo.head()

    latitude   longitude location_name
0  63.588753 -154.493062        Alaska
1  32.318231  -86.902298       Alabama
2  35.201050  -91.831833      Arkansas
3  34.048928 -111.093731       Arizona
4  36.778261 -119.417932    California

- this dataset is downloaded from (https://developers.google.com/public-data/docs/canonical/states_csv)

In [75]:
df_merge2 = pd.merge(df_new, df_geo, on=['location_name'])
df_merge2

,datetime,location_name,visitor_outflow,pop_outflow,visitor_inflow,pop_inflow,negative,positive,totalTestResults,allbed_mean,ICUbed_mean,InvVen_mean,admis_mean,newICU_mean,mobility_composite,confirmed_infections,total_pop,death,latitude,longitude
0,2020-04-02,Alabama,911906,9566649,904113,9582535,7503.0,1233.0,8736.0,224.946291,81.876268,57.296591,15.312697,7.590339,-35.207619,175.0,4.977688e+06,6.0,32.318231,-86.902298
1,2020-04-03,Alabama,974948,10292520,969556,10335855,8187.0,1432.0,9619.0,246.399825,89.349936,62.432738,16.178042,8.042432,-35.667289,265.0,4.977688e+06,3.0,32.318231,-86.902298
2,2020-04-04,Alabama,854480,9205708,852529,9277032,9273.0,1580.0,10853.0,266.754599,96.413430,67.261197,16.916438,8.432862,-36.044666,120.0,4.977688e+06,8.0,32.318231,-86.902298
3,2020-04-05,Alabama,699333,7848208,696765,7892404,11282.0,1796.0,13078.0,273.266913,97.884635,68.174187,17.527168,8.760063,-36.334809,153.0,4.977688e+06,2.0,32.318231,-86.902298
4,2020-04-06,Alabama,815949,9098459,809844,9118196,12797.0,1968.0,14765.0,287.322866,101.783974,70.768875,18.017711,9.026577,-36.532078,189.0,4.977688e+06,5.0,32.318231,-86.902298
5,2020-04-07,Alabama,800970,8880744,795176,8907915,12797.0,2119.0,14916.0,303.175816,106.121403,73.744129,18.401899,9.238272,-36.631877,219.0,4.977688e+06,6.0,32.318231,-86.902298
6,2020-04-08,Alabama,822245,9090832,816514,9116636,16753.0,2369.0,19122.0,318.960947,108.492215,75.314414,18.698007,9.403467,-36.631253,161.0,4.977688e+06,10.0,32.318231,-86.902298
7,2020-04-09,Alabama,860851,9424386,857062,9481502,18058.0,2769.0,20827.0,319.757769,106.504510,73.994431,18.927377,9.532283,-36.529348,380.0,4.977688e+06,8.0,32.318231,-86.902298
8,2020-04-10,Alabama,904245,10085256,900495,10150378,18058.0,2968.0,21026.0,330.706191,108.816095,75.548602,19.113003,9.635906,-36.327775,247.0,4.977688e+06,6.0,32.318231,-86.902298
9,2020-04-11,Alabama,853779,9551467,852255,9633466,18058.0,3191.0,21249.0,341.205289,110.535196,76.714825,19.278145,9.725862,-36.031160,273.0,4.977688e+06,11.0,32.318231,-86.902298
10,2020-04-12,Alabama,639450,7014224,637206,7066536,18058.0,3525.0,21583.0,353.878672,111.663760,77.258121,19.444840,9.813268,-35.647325,351.0,4.977688e+06,2.0,32.318231,-86.902298
11,2020-04-13,Alabama,818794,9350819,813162,9382113,25448.0,3734.0,29182.0,358.680276,110.593599,75.971713,19.632099,9.907936,-35.187016,173.0,4.977688e+06,6.0,32.318231,-86.902298
12,2020-04-14,Alabama,791805,9851753,785680,9879279,29241.0,3876.0,33117.0,360.141010,109.429599,74.878297,19.855024,10.017907,-34.663701,221.0,4.977688e+06,11.0,32.318231,-86.902298
13,2020-04-15,Alabama,822743,10226776,816450,10255253,29964.0,4113.0,34077.0,361.963417,108.090830,73.509580,20.124491,10.149228,-34.090934,123.0,4.977688e+06,11.0,32.318231,-86.902298
14,2020-04-16,Alabama,828653,10358494,822084,10387154,32046.0,4345.0,36391.0,372.813490,110.091804,74.272224,20.446306,10.305483,-33.479911,273.0,4.977688e+06,12.0,32.318231,-86.902298
15,2020-04-17,Alabama,885604,10961936,880243,11017178,33318.0,4530.0,37848.0,374.699083,109.625144,73.485235,20.822474,10.488326,-32.838045,228.0,4.977688e+06,11.0,32.318231,-86.902298
16,2020-04-18,Alabama,819587,10063420,817015,10154102,37883.0,4655.0,42538.0,377.199689,109.006703,72.694208,21.251962,10.697816,-32.168793,143.0,4.977688e+06,2.0,32.318231,-86.902298
17,2020-04-19,Alabama,646538,7495192,643883,7570777,40875.0,4837.0,45712.0,381.778116,108.881608,72.054302,21.731512,10.932749,-31.471926,178.0,4.977688e+06,8.0,32.318231,-86.902298
18,2020-04-20,Alabama,841848,9943744,835319,9969055,40875.0,5025.0,45900.0,388.148100,109.505492,72.633434,22.256190,11.190965,-30.744168,169.0,4.977688e+06,13.0,32.318231,-86.902298
19,2020-04-21,Alabama,876024,9906528,868970,9941989,43295.0,5231.0,48526.0,397.200585,111.289307,74.054414,22.819501,11.469446,-29.980750,244.0,4.977688e+06,10.0,32.318231,-86.902298
20,2020-04-22,Alabama,880227,10007540,873248,10041883,43295.0,5465.0,48760.0,395.844053,110.514134,73.036214,23.413266,11.764295,-29.175154,279.0,4.977688e+06,17.0,32.318231,-86.902298
21,2020-04-23,Alabama,818634,9126568,810845,9150608,46863.0,5778.0,52641.0,399.514816,111.443198,72.771462,24.027466,12.070688,-28.320753,247.0,4.977688e+06,3.0,32.318231,-86.902298
22,2020-04-24,Alabama,938722,10893451,931477,10935059,46863.0,5832.0,52695.0,403.644184,111.933664,72.514253,24.650146,12.382847,-27.413460,16.0,4.977688e+06,0.0,32.318231,-86.902298
23,2020-04-25,Alabama,850147,9640603,845913,9737417,65207.0,6137.0,71344.0,420.215307,116.482978,74.934320,25.267835,12.694211,-26.453711,380.0,4.977688e+06,15.0,32.318231,-86.902298
24,2020-04-26,Alabama,755878,9110765,751733,9170791,67281.0,6270.0,73551.0,427.942404,118.388524,76.243900,25.866237,12.997758,-25.446238,64.0,4.977688e+06,4.0,32.318231,-86.902298
25,2020-04-27,Alabama,852676,10067519,844277,10085008,67498.0,6499.0,73997.0,438.449152,120.512557,77.357981,26.430705,13.286207,-24.399890,272.0,4.977688e+06,6.0,32.318231,-86.902298
26,2020-04-28,Alabama,865972,10259361,859439,10306240,69140.0,6687.0,75827.0,447.814658,121.859862,78.383134,26.947277,13.552519,-23.328111,213.0,4.977688e+06,20.0,32.318231,-86.902298
27,2020-04-29,Alabama,820342,9711353,813644,9752424,73607.0,6842.0,80449.0,459.771613,124.460133,80.338435,27.403503,13.790303,-22.248132,164.0,4.977688e+06,3.0,32.318231,-86.902298
28,2020-04-30,Alabama,897753,10799738,890220,10839922,80177.0,7019.0,87196.0,467.123909,126.093482,82.088886,27.788186,13.993727,-21.180090,178.0,4.977688e+06,24.0,32.318231,-86.902298
29,2020-05-01,Alabama,1059133,11728302,1054593,11811603,84775.0,7158.0,91933.0,480.545118,128.840293,84.224557,28.091205,14.157480,-20.145950,208.0,4.977688e+06,10.0,32.318231,-86.902298
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10935,2020-10-04,Wyoming,54665,1012629,59284,1079467,97064.0,6504.0,186034.0,34.098165,8.962824,4.108662,0.971146,0.384255,4.268390,139.0,6.102995e+05,0.0,43.075968,-107.290284
10936,2020-10-05,Wyoming,62416,1119022,66137,1169792,99533.0,6629.0,192573.0,37.696867,9.932579,4.423100,1.076006,0.419380,3.841086,125.0,6.102995e+05,0.0,43.075968,-107.290284
10937,2020-10-06,Wyoming,64177,1138621,67753,1186268,99912.0,6770.0,198508.0,40.514573,10.697485,4.644571,1.210135,0.465322,3.366387,141.0,6.102995e+05,0.0,43.075968,-107.290284
10938,2020-10-07,Wyoming,64586,1153462,68545,1206694,100946.0,6899.0,202703.0,43.611442,11.517071,4.979980,1.378572,0.523905,2.865243,129.0,6.102995e+05,0.0,43.075968,-107.290284
10939,2020-10-08,Wyoming,66222,1170561,70338,1224761,101850.0,7092.0,206024.0,47.027518,12.392322,5.342274,1.586751,0.597163,2.356867,193.0,6.102995e+05,1.0,43.075968,-107.290284
10940,2020-10-09,Wyoming,68863,1223362,72533,1270323,103176.0,7335.0,209041.0,49.544868,13.028759,5.583716,1.840359,0.687303,1.853789,243.0,6.102995e+05,0.0,43.075968,-107.290284
10941,2020-10-10,Wyoming,64079,1152663,67030,1186152,103176.0,7455.0,209908.0,50.054244,13.152090,5.619329,2.145014,0.796610,1.363924,120.0,6.102995e+05,0.0,43.075968,-107.290284
10942,2020-10-11,Wyoming,56041,984857,59285,1026947,103176.0,7611.0,210509.0,49.993179,13.139518,5.571647,2.505705,0.927251,0.892992,156.0,6.102995e+05,0.0,43.075968,-107.290284
10943,2020-10-12,Wyoming,62547,1099429,65389,1135306,103176.0,7802.0,216342.0,49.609817,13.056041,5.508361,2.926064,1.081043,0.442877,191.0,6.102995e+05,0.0,43.075968,-107.290284
10944,2020-10-13,Wyoming,63942,1123105,67356,1169486,105879.0,7964.0,221182.0,49.497603,13.068073,5.517291,3.407488,1.259168,0.008153,162.0,6.102995e+05,3.0,43.075968,-107.290284
10945,2020-10-14,Wyoming,63371,1138141,67054,1190633,102849.0,8177.0,225518.0,49.378794,13.037974,5.510561,3.948178,1.461818,-0.423896,213.0,6.102995e+05,0.0,43.075968,-107.290284
10946,2020-10-15,Wyoming,63802,1156142,67716,1210168,108014.0,8375.0,229079.0,49.238877,13.039300,5.509120,4.542403,1.687889,-0.873870,198.0,6.102995e+05,0.0,43.075968,-107.290284
10947,2020-10-16,Wyoming,66610,1216323,69925,1259917,108754.0,8665.0,232407.0,51.545915,13.674460,5.806102,5.180655,1.934904,-1.368310,290.0,6.102995e+05,0.0,43.075968,-107.290284
10948,2020-10-17,Wyoming,60396,1109696,62969,1141398,108754.0,8816.0,233128.0,54.488778,14.487323,6.189748,5.850199,2.199027,-1.929352,151.0,6.102995e+05,0.0,43.075968,-107.290284
10949,2020-10-18,Wyoming,53730,970607,56397,1006166,108754.0,9025.0,233925.0,57.735748,15.381061,6.542142,6.535521,2.475092,-2.567338,209.0,6.102995e+05,0.0,43.075968,-107.290284
10950,2020-10-19,Wyoming,61163,1117804,63370,1144025,108754.0,9311.0,240151.0,61.829413,16.466588,7.017666,7.220005,2.757091,-3.278679,286.0,6.102995e+05,0.0,43.075968,-107.290284
10951,2020-10-20,Wyoming,61538,1129294,64075,1161845,108754.0,9526.0,245133.0,66.399567,17.682181,7.447457,7.887496,3.038695,-4.040744,215.0,6.102995e+05,4.0,43.075968,-107.290284
10952,2020-10-21,Wyoming,62820,1149093,65852,1189565,111822.0,9848.0,249425.0,71.267422,18.973345,7.999295,8.522890,3.313481,-4.814113,322.0,6.102995e+05,0.0,43.075968,-107.290284
10953,2020-10-22,Wyoming,61630,1109418,64033,1139250,111822.0,10119.0,253894.0,77.947728,20.824883,8.739741,9.112431,3.575251,-5.550754,271.0,6.102995e+05,7.0,43.075968,-107.290284
10954,2020-10-23,Wyoming,66036,1206678,67572,1220829,113686.0,10545.0,257821.0,82.629469,22.048018,9.387474,9.643943,3.818315,-6.200062,426.0,6.102995e+05,0.0,43.075968,-107.290284
10955,2020-10-24,Wyoming,58825,1076252,59271,1075030,113686.0,10805.0,258810.0,88.310153,23.583916,10.080474,10.107264,4.037698,-6.718390,260.0,6.102995e+05,0.0,43.075968,-107.290284
10956,2020-10-25,Wyoming,48461,889593,48372,881615,113686.0,11041.0,259404.0,94.233063,25.298619,10.797972,10.494485,4.229248,-7.076094,236.0,6.102995e+05,0.0,43.075968,-107.290284
10957,2020-10-26,Wyoming,57666,1079992,59554,1103710,113686.0,11477.0,265459.0,98.287929,26.436348,11.185706,10.800150,4.389723,-7.265566,436.0,6.102995e+05,9.0,43.075968,-107.290284
10958,2020-10-27,Wyoming,58804,1122767,60507,1143728,113686.0,11806.0,270870.0,103.541390,27.816767,11.697595,11.025696,4.518103,-7.308803,329.0,6.102995e+05,0.0,43.075968,-107.290284
10959,2020-10-28,Wyoming,60160,1147904,61807,1170219,113686.0,12146.0,275282.0,109.038766,29.340303,12.307425,11.184934,4.617165,-7.253070,340.0,6.102995e+05,0.0,43.075968,-107.290284
10960,2020-10-29,Wyoming,62206,1158214,63142,1163619,116955.0,12507.0,279435.0,112.198405,30.293936,12.658894,11.302955,4.693202,-7.162544,361.0,6.102995e+05,10.0,43.075968,-107.290284
10961,2020-10-30,Wyoming,64777,1226371,65085,1219138,116955.0,13028.0,283120.0,116.255580,31.403964,13.151406,11.403446,4.753080,-7.114358,521.0,6.102995e+05,0.0,43.075968,-107.290284
10962,2020-10-31,Wyoming,60353,1186854,60599,1178784,117262.0,13298.0,283918.0,118.895876,32.222665,13.559000,11.501085,4.802864,-7.186512,270.0,6.102995e+05,0.0,43.075968,-107.290284
10963,2020-11-01,Wyoming,52633,984026,52679,973986,117262.0,13723.0,284746.0,123.649306,33.339871,14.113972,11.602594,4.847959,-7.439426,425.0,6.102995e+05,0.0,43.075968,-107.290284
10964,2020-11-02,Wyoming,60386,1112143,60650,1107019,119851.0,14167.0,291698.0,127.009851,34.197825,14.516751,11.707359,4.891514,-7.905881,444.0,6.102995e+05,0.0,43.075968,-107.290284

In [76]:
df_merge2.to_csv('all_us_data.csv', index=False)

*We have uploaded the final version of dataset to GitHub*